/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --title-color: #000028;
    --heading_title-color: #FF0070;
    --bg_title-color: #FF0070;
    --focus-color: #DB00FF;
    --hover-color: rgba(255, 0, 112, 0.40);
}

.page.theme_dark {
    background-color: var(--bg-color);
    --background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header_title {
    color: var(--focus-color);
    text-shadow: 4px 4px 0 var(--heading_title-color);
}

.theme_dark .footer_title {
    color: var(--focus-color);
    text-shadow: 4px 4px 0 var(--heading_title-color);
}

.theme_dark .header__theme-menu-button:hover::after {
    border-color: var(--hover-color);
}

.theme_dark.header__theme-menu-button_active {
    border: 1px solid var(--heading_title-color);
}

.theme_dark a:focus {
    border-color: var(--text-color);
    outline: none;
}

.theme_dark .header__theme-menu-button:focus {
    border-color: var(--bg_title-color);
}

.theme_dark .decorated-zone:before {
    border-color: var(--heading_title-color);
}

.theme_dark .decorated-zone:after {
    border-color: var(--heading_title-color);
}

.theme_dark .header_title:after {
    border-color: var(--heading_title-color);
}

.theme_dark .header_title:before {
    border-color: var(--heading_title-color);
}

.theme_dark .footer_title:after {
    border-color: var(--heading_title-color);
}

.theme_dark .footer_title:before {
    border-color: var(--heading_title-color);
}

.theme_dark .main__description_title {
    color: var(--heading_title-color);
}

.theme_dark .main__description_block-text {
    color: var(--text-color);
}


.theme_dark .header__theme-menu-button {
    color: var(--heading_title-color);
}

.theme_dark .header_description-item {
    background-color: var(--bg_title-color);
    color: var(--title-color);
}

.theme_dark .main__description_block-title {
    color: var(--title-color);
    background-color: var(--bg_title-color);
}

.theme_dark a:hover {
    border-color: var(--text-color);
}

.theme_dark a {
    text-shadow: 3px 2px 0 var(--bg_title-color);
}

.theme_dark .header__theme-menu-button_type_dark::after {
    border-color: var(--heading_title-color);
}
