/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {

    --bg-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #353430;
    --heading_title-color: #353430;
    --bg_title-color: #FF8DCB;
    --focus-color: #FFC2E6;
    --hover-color: rgba(50, 49, 45, 0.40);
    --header_title-color: #FF0070

}

.page.theme_light {
    background-color: var(--bg-color);
    --background-image: url(../images/cover-image-light.png);
}

.theme_light a:hover {
    border-color: var(--title-color);
}

.theme_light.header__theme-menu-button_active {

    border: 1px solid var(--text-color);

}

.theme_light .main__description_block-text {
    color: var(--text-color);
}

.theme_light .main__description_title {
    color: var(--heading_title-color);
}

.theme_light .header__theme-menu-button:hover::after {

    border-color: var(--hover-color);

}

.theme_light .main__description_block-title {
    color: var(--title-color);
    background-color: var(--bg_title-color);
}

.theme_light .header_description-item {
    background-color: var(--bg_title-color);
    color: var(--title-color);
}

.theme_light .header__theme-menu-button {
    color: var(--heading_title-color);
}

.theme_light .header_title {
    color: var(--focus-color);
    text-shadow: 4px 4px 0px var(--header_title-color);
}

.theme_light .footer_title {
    color: var(--focus-color);
    text-shadow: 4px 4px 0px var(--header_title-color);
}

.page.theme_light .header-decoration {
    display: none;
}

.page.theme_dark .header-decoration {
    display: flex;
}
