/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Стилизация кнопок хэдера */
.header__theme-menu-list{
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 400;
    margin-block-start: 20px;
}
.header__theme-menu{
    align-self: start;
}

.header__theme-menu-button{
     cursor: pointer;
     border: none;
     background-color: transparent;
     position: relative;
}

.header__theme-menu-button:hover::after{
    content: "";
    position: absolute;
    border: 1px solid rgba(50, 49, 45, 0.40);
    width: 70px;
    height: 26px;
    left: -7px;
    top: 2px;
}

.header__theme-menu-button:focus{
    border-bottom: 1px solid #353430;
    outline: none;
}



.theme_light .header__theme-menu-button_type_light::after{
    content: "";
    position: absolute;
    border: 1px solid #353430;
    width: 70px;
    height: 26px;
    left: -7px;
    top: 2px;
}

.theme_auto .header__theme-menu-button_type_auto::after{
    content: "";
    position: absolute;
    border: 1px solid #353430;
    width: 70px;
    height: 26px;
    left: -7px;
    top: 2px;
}

.header__theme-menu-button_active{
    pointer-events: none;
}

/* /Стилизация кнопок хэдера */

.header {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    height: 100vh;
    min-height: 668px;
}

.header-decoration {
    display: none;
}

body {
    background-color: #FFF1F7;
    background-image: url("../images/cover-image-light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* no focus */
.header_title{
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: #FFC2E6;
    margin-inline-start: -20px;
    text-shadow: 4px 4px 0px #FF0070;
}

.header_description-item {
    background-color: #FF8DCB;
    margin-block-end: 60px;
}
/* /no focus */

.header_description{
    font-weight: 700;
    font-size: 18px;
    width: 50%;
    margin-inline-start: auto;
}

/* блок с описанием в хэдере */

.header_description-item{
    color: rgba(53, 52, 48, 1);
}

/* /блок с описанием в хэдере */
.page {
    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* блоки с описанием в main */

.main__description_title,
.main__description_block-title,
.main__description_block-text {
    font-size: 18px;
    font-weight: 700;
    color: #353430;
    text-decoration: none;
}

.main__description_title {
    grid-area: 1 / 1 / 3 / 2;
    width: 100%;
}

.main__description_block-title{

    background: #FF8DCB;
}

.main__description_block-text{
    font-weight: 400;

    line-height: 1.3;
}

.main__description_block{
    gap: 10px;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
}

.main__description{
    display: grid;
    grid-template-columns: 1fr 66%;
    gap: 20px;
    align-items: start;
    margin-block-start: 60px;
    grid-auto-columns: auto;
}

.main__description_concentration{
    margin-block-start: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: start;
}

.main__description_title-concentration{
    grid-area: 1 / 1 / 2 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
}

.main__description_block-concentration{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.main__description_title-methods{
    grid-area: 1 / 1 / 7 / 2;
    width: 100%;
}

.main__description_methods{
    margin-block-start: 2px;
    display: grid;
    grid-template-columns: 1fr 66%;
    gap: 20px;
    grid-auto-columns: auto;
}

.main__description_block-methods{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    grid-column-start: 2;
}

.main__description_block_title-methods{
    font-weight: 400;
    background: #FF8DCB;
}

.main__description_images{
    margin-block-start: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 428px;
}


.img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

.main__description_image-sunset{
    grid-column: span 2;
}

.main__description_image-ice-cream{
    grid-row: span 2;
}

.main__description_image-tape{
    grid-row: span 2
}

.main__description_image-street{
    grid-column: span 2;
}

/* /блоки с описанием в main */

/* footer */
.footer-text{
    color: #FFC2E6;
    text-shadow: 2px 2px 0px #FF0070;
    font-size: 157px;
    font-weight: 700;
}

.footer{
    margin-block-start: 66px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 648px;
}

.footer_title{
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: #FFC2E6;
    text-shadow: 4px 4px 0px #FF0070;
    margin: auto;
}

/* /footer */

/* стилизация ссылок */
a{
    text-shadow: 3px 2px 0px #FF8DCB;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px solid #353430;
}

a:focus{
    outline: none;
}
a:focus-visible{
    border: 1px solid #353430;
    outline: none;
}
/* /стилизация ссылок */

.decorated-zone:before{
    position: absolute;
    bottom: 20px;
    left: 0px;
    content: "";
    width: 25px;
    height: 25px;
    border-inline-start: 1px solid #353430;
    border-block-end: 1px solid #353430;
}

.decorated-zone:after{
    position: absolute;
    right: 0px;
    top: 20px;
    content: "";
    width: 25px;
    height: 25px;
    border-inline-end: 1px solid #353430;
    border-block-start: 1px solid #353430;
}

/* theme_dark */

.theme_dark .header__theme-menu-button_type_dark::after{
    content: "";
    position: absolute;
    border: 1px solid #FF0070;
    width: 70px;
    height: 26px;
    left: -7px;
    top: 2px;
}

/*REC*/
.theme_dark .header-decoration {
    color: var(--heading_title-color);
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    top: 22px;
    right: 29px;
}

.theme_dark .header-decoration::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-image: url("../images/Ellipse.png");
    background-position: center;
    left: 35px;
}

/*/REC*/

.theme_dark {
    background-image: url("../images/cover-image-dark.png");
}
/* /theme_dark */

/* theme_auto */

@media (prefers-color-scheme: dark) {

    .page.theme_auto {
        /* сохраните этот селектор в приведённом виде.
          Так стили написанные ниже будут иметь больший вес,
          чем стили в медиазапросе предпочтений пользователя
        */
    }

    .theme_auto {
        background-image: url("../images/cover-image-dark.png");
    }

    .theme_auto .header-decoration {
        color: var(--heading_title-color);
        display: flex;
        position: absolute;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        top: 22px;
        right: 29px;
    }

    .theme_auto .header-decoration::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        width: 25px;
        height: 25px;
        background-image: url("../images/Ellipse.png");
        background-position: center;
        left: 35px;
    }

}

/* /theme_auto */

/* Медиазапросы */

@media (width <= 768px) {

    .header__theme-menu-list {

        grid-template-columns: auto;
        justify-content: flex-end;
        gap: 10px;
        margin-block-start: 42px;
        margin-inline-end: 8px;

    }

    .header__theme-menu {

        align-self: center;

    }

    .header_title{
        text-shadow: 4px 4px 0px #FF8DCB;

    }

    .header_description-item{
        margin-block-end: 49px;
    }

    .main__description {

        grid-template-columns: 1fr 2fr;

    }

    .main__description_concentration {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        gap: 22px;

    }

    .main__description_title-concentration{

        grid-area: 1 / 1 / 2 / 2;

    }

    .main__description_block-concentration{

        gap: 8px;

    }

    .main__description_methods{

        grid-template-columns: 1fr 2fr;

    }

    .main__description_images{

        grid-template-rows: 192px 229px 318px;
    }

    .footer{
        margin-block-start: 64px;
    }

    .footer_title{
        text-shadow: 4px 4px 0px #FF8DCB;
    }

}

@media (width <= 375px) {

    .header{
        padding-block-end: 20px;
    }

    .page {
        padding: 10px;
    }


    .header__theme-menu-list {

        grid-template-columns: auto;
        justify-content: flex-end;
        gap: 11px;
        margin-block-start: 0;

    }

    .header_title{
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        text-shadow: 4px 4px 0px #FF8DCB;
        margin-inline-start: 0px;
        line-height: 95.7px;
    }


    .header_description{

        width: 100%;

    }

    .header_description-item {

        margin-block-end: 0px;

    }

    .main__description_block{
        margin-inline-start: 0px;
    }

    .main__description {

        display: flex;
        flex-direction: column;
        margin-block-start: 31px;

    }

    .main__description_concentration {

        display: flex;
        flex-direction: column;


    }

    .main__description_title-concentration{

    width: 100%;

    }

    .main__description_methods {

        display: flex;
        flex-direction: column;


    }

    main{

    gap: 50px;

    }

    .main__description_images {

        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-block-start: 10px;

    }

    .main__description_block-images {

        margin-block-start: 5px;

    }

    .decorated-zone:after{
        top: 0px;
    }

    .footer {

        margin-block-start: 49px;
        padding-block-end: 19px;

    }

    .footer_title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        text-shadow: 4px 4px 0px #FF8DCB;
    }

    .theme_dark .header-decoration {
        top: 2px;
    }

    .theme_auto .header-decoration {
        top: 2px;
    }

}

@media ( 424px > width > 375px) {

    .header_description {
        width: 100%;
    }

}
